$primary-palette: (
    50: #fafafa,
    100: #f5f5f5,
    200: #f0f0f0,
    300: #e2e2e2,
    400: #bfbfbf,
    500: #a1a1a1,
    600: #787878,
    700: #636363,
    800: #444444,
    900: #232323,
    A100: red,
    A200: red,
    A400: red,
    A700: red,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$accent-palette: (
    50: #fffce4,
    100: #fff6bd,
    200: #fff091,
    300: #ffea64,
    400: #fee43d,
    500: #ffe000,
    600: #fece00,
    700: #fcb600,
    800: #fb9c00,
    900: #f97000,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffefce,
    A700: #ffe6b4,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);