$menu-height: 80px;

.main-content {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
  
    .background {
      display: block;
      top: 0;
      left: 0;
      background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4) ), url('./../assets/pareis.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      width: 100%;
      height: 100%;
      position: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}

mat-toolbar {
    padding-left: 20px;
    padding-right: 20px;
    height: $menu-height;
    padding: 0 20px;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    min-width: 100px;


    &.scrolled {
        background-color: rgba(23, 23, 23, 0.7);
        transition: background-color 1s ease;
        img {
            margin: 0 auto;
        }
    }

    > *:not(.spacer,img) {
        margin-left: 20px;
        flex: auto;
        
        @media(min-width:925px) {
            max-width: none;
            max-width:  200px;
        }

        &.large {
            @media(min-width:925px) {
                max-width: 400px;
            }
        }
    }

    .logo {
        max-width: 100px;
        display: block;
        max-height: $menu-height;
    }

    .spacer {
        flex: 1 1 auto;
    }
}

.divider {
    &-horizontal {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        --text-divider-gap: 1rem;
        height: 80px;
        display: flex;
        margin: 0 auto 3vh auto;
        align-items: center;
        
        &::before, &::after {
            content: '';
            height: 2px;
            background-color: white;
            flex-grow: 1;
          }
          
          &::before {
            margin-right: var(--text-divider-gap);
            margin-left: 20%;
          }
          
          &::after {
            margin-left: var(--text-divider-gap);
            margin-right: 20%;
          }
    }

    &-vertical {
        display: table;
        text-align: center;
        width: 70px;
        height: 100%;
    
        &:first-of-type {
            margin: 0 0 0 30px;
        }
        
        .center-element {
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 30px;
            font-weight: bold;
    
            -moz-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            transform: scale(-1, -1);
            text-orientation: mixed;
    
            &:before, &:after {
                position: absolute;
                content: "";
                width: 2px;
                left: 50%;
                border-left: 2px solid white;
            }
            &:before {
                bottom: 60%;
                top: 20%;
            }
            &:after {
                top: 60%;
                bottom: 20%;
            }
        }
    }
    
}

.year {
    transform: rotate(90deg);
}

.list-view {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    padding-top: 80px;
    overflow-x: auto;

    &.hidden {
        visibility: hidden;
    }

    @media (min-width:925px) {
        flex-wrap: wrap;
        align-items: flex-start;
        height: calc(100vh - 50px - 90px);
        padding-top: 120px;

    }
}

.app-row {
    width: 100%;

    @media (min-width:925px) {
        width: 25em; 

    }
}

.loader {
    border: 8px solid #232323;
    /* Light grey */
    border-top: 8px solid #ffe000;
    /* Dark Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spinloader 2s linear infinite;
    margin: auto;

}

.loader img {
    height: 120px;
    width: 120px;
    animation: spinlogo 2s linear infinite;
}

@keyframes spinloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinlogo {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


::ng-deep {

    /* Datepicker*/ 

    .mat-datepicker-content {
        background-color: #232323;

        * {
            color: white;

            &:disabled {
                opacity: 0.5 !important;
            }
        }
    }

    .mat-calendar-body-disabled > .mat-calendar-body-cell-content {
        opacity: 0.2 !important;
        color: white !important;
    }

    .mat-calendar-arrow {
        fill: white;
    }

    .mat-calendar-body-cell-content {
        color: white;
    }

    .mat-calendar-previous-button::after, .mat-calendar-next-button::after {
        color: white;
    }

    .mat-calendar-table-header-divider::after {
        background-color: #FFE000;
    }

    .mat-calendar-body-selected {
        background-color: #FFE000;
        color: #232323 !important;
    }

    .mat-calendar-body-today {
        border-color: #FFE000 !important;
    }

    .mat-calendar-body-label {
        display: none;
    }


    /* form field */

    .mdc-text-field {
        background-color: #232323 !important;

        * {
            color: white;
            caret-color: white !important;

            input {
                color: white !important;
            }
        }
    }    

    .mdc-menu-surface {
        background-color: #232323 !important;
    }

    .mdc-form-field {
        color: white !important;
    }

    .mdc-form-field {
        border-color: white !important;
    }

    mat-option {
        &::ng-deep {
            * {
                color: white !important;
            }
    
            .mat-pseudo-checkbox-checked {
                background-color: #FFE000 !important;
            }
        }
    }
    
    /* Extension panel */

    .mat-expansion-panel.filter {
        background-color: transparent;
    }

    mat-option {
        padding-left: 40px !important;
    }

    mat-pseudo-checkbox {
        border-color: white !important;

        &::after {
        color: #232323 !important;
        }
    }

    .mat-expansion-indicator::after {
        color: white !important;
    }

    .mdc-checkbox__background:not(:checked) {
        border-color: white !important;
    }

    .mdc-menu-surface{
        max-height: calc(100vh - 80px) !important; //FIXME MENU HEIGHT VAR
    }
}