<div class="main-content">
  <div class="background"></div>
  <div *ngIf="isLoading" class="loader">
    <img src="/assets/logo.png">
  </div>
</div>

<mat-toolbar [class.scrolled]="hasScrolled">
  <img *ngIf="!isMobile" class="logo" src="assets/logo.png" />

  <mat-form-field *ngIf="!isFilterFocused || !isMobile" class="large" appearance="fill" subscriptSizing="dynamic" >
    <mat-label>Zoek</mat-label>
    <input #searchInput [formControl]="searchFormControl" matInput>
    <mat-icon *ngIf="!!searchFormControl.value" matSuffix (click)="searchFormControl.setValue('')">close</mat-icon>
    <mat-icon *ngIf="!searchFormControl.value" matSuffix>search</mat-icon>
  </mat-form-field>

  <button *ngIf="isFilterFocused && isMobile" mat-fab matTooltip="Primary" color="primary" aria-label="iCal" (click)="isFilterFocused = false; focusSearch()">
    <div class="icon-container" [matBadge]="!!searchFormControl.value ? searchFormControl.value.length <= 2 ? searchFormControl.value : '..' : undefined" matBadgeColor="accent">
      <mat-icon>search</mat-icon>
    </div>
  </button>

  <span *ngIf="!isMobile" class="spacer"></span>
  
  <button *ngIf="!isFilterFocused && isMobile && categorySelect" class="filter" mat-fab matTooltip="Primary" color="primary" aria-label="iCal" (click)="isFilterFocused = !isFilterFocused; openCategorySelect();">
    <div class="icon-container" [matBadge]="selectedCategoriesFormControl.value?.length === categorySelect.totalCategoryCount ? '' : selectedCategoriesFormControl.value?.length" matBadgeColor="accent">
      <mat-icon >
        <span class="material-symbols-outlined">
        filter_alt
        </span>
    </mat-icon>
    </div>
  </button>
  
  <app-category-select-input class="large" [class.hidden]="!isFilterFocused && isMobile" *ngIf="categories !== undefined" #categoryFilter [class.focused]="isFilterFocused" [categories]="categories" [control]="selectedCategoriesFormControl"></app-category-select-input>
  <button *ngIf="!isMobile" mat-fab matTooltip="Primary" color="primary" aria-label="download ics" (click)="copyIcsLink()">
    <mat-icon>content_copy</mat-icon>
</button>
</mat-toolbar>

<div #listView id="listView" class="list-view" *ngIf="eventCalendar" [class.hidden]="isLoading">
  <ng-container *ngFor="let year of eventCalendar | keyvalue">
    <div *ngIf="!isMobile" class="divider-vertical">
      <div class="center-element">
        <div class="year">{{ year.key }}</div>
    </div>
    </div>
    <ng-container *ngFor="let month of year.value | keyvalue">
      <div *ngIf="isMobile" class="month">
        {{ (month.value[0].start | date : 'MMMM' : '' : 'nl') ?? 'niets' }} <span *ngIf="isMobile">'{{ year.key % 100 }}</span>
      </div>
      <div class="app-row" *ngFor="let event of month.value; let i = index">
        <div *ngIf="!isMobile && i === 0" class="month-container">
          <div class="month">
            {{ event.start | date : 'MMMM' : '' : 'nl' }}
          </div>
        </div>
       
        <app-team-up-it-event
          [event]="event"
          [isOpened]="event === highlightedEvent"
          (opened)="highlightedEvent = event"
          (closed)="highlightedEvent = event === highlightedEvent ? undefined : highlightedEvent">
        </app-team-up-it-event>
      </div>
    </ng-container>
  </ng-container>
</div>

<button *ngIf="isMobile" class="icsButton" mat-fab matTooltip="Primary" color="primary" aria-label="download ics" (click)="copyIcsLink()">
    <mat-icon>content_copy</mat-icon>
</button>


