<div class="main-content">
  <div class="background"></div>
</div>
<!-- <mat-form-field appearance="fill">
  <mat-label>Fill form field</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field> -->

<mat-toolbar>
  <img class="rs-logo" src="assets/team-up-it-logo.png" (click)="openCategorySelect()" />

  
  <mat-form-field class="large" appearance="fill" subscriptSizing="dynamic">
    <mat-label>Zoek</mat-label>

    <input matInput>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span class="example-spacer"></span>

  <mat-form-field appearance="fill" subscriptSizing="dynamic">
    <mat-label>Vanaf</mat-label>
    <input matInput [min]="today" [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="large" appearance="fill" subscriptSizing="dynamic">
    <mat-label>Filter</mat-label>
    <mat-select [formControl]="selectedCategoriesFormControl" multiple>
      <mat-select-trigger>
        <!-- {{ selectedCategories | json }} -->
        <span [ngSwitch]="selectedCategories.length">
          <span *ngSwitchCase="0">Alles</span>
          <span *ngSwitchCase="totalCategoryCount">Alles</span>
          <span *ngSwitchCase="1">{{selectedCategories[0]}}</span>
          <span *ngSwitchDefault>Meerdere ({{selectedCategories.length}})</span>
        </span>
      </mat-select-trigger>

      <mat-expansion-panel class="filter" *ngFor="let group of categoryGroups | keyvalue; let i = index;"
        [expanded]="i === selectedCategoryGroupIndex"
        (expandedChange)="selectedCategoryGroupIndex = $event ? i : selectedCategoryGroupIndex === i ? undefined : selectedCategoryGroupIndex"
        >
        <mat-expansion-panel-header>
          <mat-checkbox 
          (change)="setCategoryGroup(group.value, $event.checked)"
          [checked]="isAllChecked(group.value)"
          (click)="$event.stopPropagation()" 
          (keydown)="$event.stopPropagation()">
          {{ group.key }}   <span *ngIf="isAnyChecked(group.value) && !isAllChecked(group.value) && selectedCategoryGroupIndex !== i">({{countChecked(group.value)}}/{{group.value.length}})</span>
          </mat-checkbox>
        </mat-expansion-panel-header>
        <mat-option *ngFor="let category of group.value"
          [value]="category">
          {{category}}
        </mat-option>
      </mat-expansion-panel>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div class="list-view">
  <ng-container *ngFor="let year of eventCalendar | keyvalue : useMapOrder">
    <div *ngIf="!isMobile" class="divider-vertical">
      <div class="center-element">{{ year.key }}</div>
    </div>
    <ng-container *ngFor="let month of year.value | keyvalue : useMapOrder; let i = index">
      <div class="app-row" *ngFor="let event of month.value; let i = index">
        <div *ngIf="i === 0" class="divider-horizontal">
          {{ event.start | date : 'MMMM' : '' : 'nl' }}
        </div>
        <app-team-up-it-event
          [event]="event"
          [isOpened]="event === highlightedEvent"
          (opened)="highlightedEvent = event"
          (closed)="highlightedEvent = event === highlightedEvent ? undefined : highlightedEvent">
        </app-team-up-it-event>
      </div>
    </ng-container>
  </ng-container>
</div>
