.main-content {
    display: grid;
    align-items: center;
    max-height: 100vh;
    position: absolute;
  
    .background {
      display: block;
      top: 0;
      left: 0;
      background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4) ), url('./../assets/pareis.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: -10;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}

.rs-logo {
    position: absolute;
    cursor: pointer;

    max-width: 10vh;
    max-height: 10vh;
    top: 3vh;
    left: 0;

    @media (min-width:925px) {
        max-width: 13vh;
        max-height: 13vh;
        top: 1vh;
        left: 0.5vh;
    }
}

.divider {
    &-horizontal {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        --text-divider-gap: 1rem;
        height: 80px;
        display: flex;
        margin: 0 auto 3vh auto;
        align-items: center;
        
        &::before, &::after {
            content: '';
            height: 2px;
            background-color: white;
            flex-grow: 1;
          }
          
          &::before {
            margin-right: var(--text-divider-gap);
            margin-left: 20%;
          }
          
          &::after {
            margin-left: var(--text-divider-gap);
            margin-right: 20%;
          }
    }

    &-vertical {
        display: table;
        text-align: center;
        width: 70px;
        height: 100%;
    
        &:first-of-type {
            margin: 0 0 0 30px;
        }
        
        .center-element {
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 30px;
            font-weight: bold;
    
            -ms-writing-mode: tb-rl;
            -webkit-writing-mode: vertical-lr;
            writing-mode: vertical-lr;
            -moz-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            transform: scale(-1, -1);
            text-orientation: mixed;
    
            &:before, &:after {
                position: absolute;
                content: "";
                width: 2px;
                left: 50%;
                border-left: 2px solid white;
            }
            &:before {
                bottom: 55%;
                top: 20%;
            }
            &:after {
                top: 55%;
                bottom: 20%;
            }
        }
    }
    
}

.list-view {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;

    @media (min-width:925px) {
        flex-wrap: wrap;
        align-items: flex-start;
        height: calc(100vh - 50px);

    }
}

.app-row {
    width: 100%;

    @media (min-width:925px) {
        width: 25em; 

    }
}