<mat-expansion-panel
  class="rs-event"
  hideToggle
  [expanded]="isOpened"
  (opened)="opened.emit()"
  (closed)="closed.emit()">
  <mat-expansion-panel-header class="rs-event-summary">
    <mat-card class="card">
      <mat-card-header class="header" [class.opened]="isOpened">
        <div class="date vertical-center">
          <span class="day"> {{ event.start | date : 'dd' }} </span>
          <span class="weekday">
            {{ event.start | date : 'EEEE' : '' : 'nl' }}
          </span>
        </div>
        <div class="summary">
          <span class="max-lines-3 title vertical-center">{{ event.title }}</span>
        </div>
        <mat-icon *ngIf="!isOpened" class="expand">expand_more</mat-icon>
        <mat-icon *ngIf="isOpened" class="expand">expand_less</mat-icon>

      </mat-card-header>
    </mat-card>
  </mat-expansion-panel-header>
  <div #detailCard class="rs-event-detail">
    <div class="info">
      <p class="max-lines-3">{{event.description}}</p>
      <div class="category-list">
        <div class="category" *ngFor="let category of event.categories">
          {{ category }}
        </div>
      </div>
      <table>
        <colgroup>
          <col span="1" style="width: 40%;">
          <col span="1" style="width: 60%;">
        </colgroup>
        <tr>
          <td class="rs-event-info">
            <img src="/assets/clock.png" class="rs-icon"/> 
            <span>
              {{ event.start | date : 'HH:mm' }} - {{ event.end | date : 'HH:mm' }}
            </span>
          </td>
          <td class="rs-event-info"><img src="/assets/chapter.png" class="rs-icon" /><span>{{ event.spots }}</span></td>
        </tr>
        <tr *ngIf="event.location">
          <td class="rs-event-info" colspan="2">
            <img src="/assets/location.png" class="rs-icon" />
            <a *ngIf="event.locationLink" [href]="event.locationLink"><span>{{ event.location }}</span></a>
            <span *ngIf="!event.locationLink">{{ event.location }}</span>
          </td>
        </tr>
      </table>
    </div>
    <button class="team-up-it-button" (click)="goToSignUpPage()">
      <span>Ga naar Team Up IT</span><span class="navigate">▸▸</span>
    </button>
  </div>
</mat-expansion-panel>
